@import url("https://fonts.googleapis.com/css2?family=Spartan:wght@100;200;300;400;500&family=Montserrat:wght@500;700&display=swap");


* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: "Spartan", sans-serif;
}

::selection {
  background: teal;
  color: white;
}

::-webkit-scrollbar {
  width: 10px;
  background: gainsboro;
}

::-webkit-scrollbar-thumb {
  background: teal;
  border-radius: 10px;
}

/* Smooth transition for navbar height and logo positioning */
nav {
  transition: height 3s;
}

nav img {
  transition: height 1s, transform 4s;
}